.everything{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

h2{
    color: white;
    text-align: center;
}

.title{
    color: white;
    font-size:x-large;
    font-weight:bolder
}

.overview{
    color: white;
    font-size: large;
}

.image{
    border-radius: 5%;
}

button{
    color: grey;
    background-color: transparent;
}

button:hover{
    color: red;
}